
footer {
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
  }
  
  
  .social-media i {
    font-size: 20px;
    display: inline-block;
    color: #000;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    margin-right: 5px;
  }
  
  .social-media i:hover {
    color: rgba(255, 0, 0, 0.63);
    background-color:  #f2f2f2;
    border-color: #f2f2f2;
  }
  


